@font-face {
    font-family: "DungeonFont";
    src: url("../../assets/font/DungeonFont.ttf") format("truetype")
}

body {
    font-size: 12px;
    color: white;
    background-color: #ffffff
}

body div.container {
    text-align: center
}

body div.container h1 {
    font-family: "DungeonFont", cursive;
    padding: 0;
    font-size: 50px;
    font-weight: 100;
}

body div.container div#game {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.changelog ul {
    color: white;
    width: fit-content;
    max-height: 150px;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0 20px;
}

.changelog p {
    margin: 20px 0 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul + li {
    margin-top: 10px;
}

a {
    color: white;
}